<div class="container visualizer-fix">
    <div class="row row-fix">
        <div class="col-12">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <img src="assets/img/surfer.png" width="55" height="55" class="rounded-circle" />
                            </div>
                            <div class="col-10">
                                <h3 class="text-primary header-text-fix">3D visualizer</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row panel_view">
                            <div class="col-8" id="viewport" onmouseover="document.body.style.overflow='hidden';"
                                onmouseout="document.body.style.overflow='auto';"></div>
                            <div class="col-4">
                                <div class="card segments_controls_fix">
                                    <div class="card-header">
                                        <div class="row">
                                            Segments Controls
                                        </div>
                                    </div>
                                    <div class="card-body segments_controls">
                                        <div class="sidenav">
                                            <button class="dropdown-btn dropdown-btn-fix">
                                                Segments
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                            <div class="dropdown-container">
                                                <div class="sidenav"
                                                    *ngFor="let item of structureToShow; let i = index">
                                                    <button class="dropdown-item"
                                                        (click)="confSideNav('dropdown-item', $event)">
                                                        <div class="row">
                                                            <div class="col-2" style="margin-top: 10px;">
                                                                <div class="color_marker"
                                                                    [style.background-color]="getBackgroundColor(item)">
                                                                </div>
                                                            </div>
                                                            <div class="col-8" style="margin-top: 10px;">
                                                                <div> {{item.name}} </div>
                                                            </div>
                                                            <i class="col-1 fa fa-caret-down"
                                                                style="margin-top: 16px;"></i>
                                                        </div>
                                                    </button>

                                                    <div class="dropdown-item-container">
                                                        <div class="row">
                                                            <div class="col-4">Color</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">Iso Level</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">...</div>
                                                        </div>
                                                    </div>

                                                    <div class="divider dropdown-divider"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider dropdown-divider"></div>
                                        <div class="sidenav">
                                            <button class="dropdown-btn dropdown-btn-fix">
                                                Points
                                                <i class="fa fa-caret-down"></i>
                                            </button>

                                            <div class="dropdown-container">
                                                <div class="sidenav" *ngFor="let item of manualPoints; let g = index">
                                                    <button class="dropdown-item"
                                                        (click)="confSideNav('dropdown-item', $event)">
                                                        <div class="row">
                                                            <div class="col-2" style="margin-top: 10px;">
                                                                <div class="color_marker"
                                                                    [style.background-color]="getBackgroundColor(item)">
                                                                </div>
                                                            </div>
                                                            <div class="col-8" style="margin-top: 10px;">
                                                                <div> {{item.name}} </div>
                                                            </div>
                                                            <i class="col-1 fa fa-caret-down"
                                                                style="margin-top: 16px;"></i>
                                                        </div>
                                                    </button>
                                                    <div class="dropdown-item-container">
                                                        <div class="row">
                                                            <div class="col-4">Color</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">Points:</div>
                                                            <div class="col-4"></div>
                                                            <div class="col-4">
                                                                <button class="btn" (click)="createNewPoint(g)">
                                                                    <i class="fa fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="row point sidenav"
                                                            *ngFor="let point of item.points; let p = index">
                                                            <button class="dropdown-item"
                                                                (click)="confSideNav('dropdown-item', $event)">
                                                                <div class="row">
                                                                    <div class="col-7" style="margin-top: 10px;">
                                                                        <div> Point {{point.name}} </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <button class="btn" (click)="deletePoint(g, p)">
                                                                            <i class="fa fa-trash-o"></i>
                                                                        </button>
                                                                    </div>
                                                                    <i class="col-2 fa fa-caret-down"
                                                                        style="margin-top: 16px;"></i>
                                                                </div>
                                                            </button>
                                                            <div class="row dropdown-item-container">
                                                                <div class="col-8">x:
                                                                    <input type="number" step="0.1" value={{point.x}}
                                                                        (input)="onPointCoordinateChange(g, p, 0, $event.target.value)">
                                                                </div>
                                                                <div class="col-8">y:
                                                                    <input type="number" step="0.1" value={{point.y}}
                                                                        (input)="onPointCoordinateChange(g, p, 1, $event.target.value)">
                                                                </div>
                                                                <div class="col-8">z:
                                                                    <input type="number" step="0.1" value={{point.z}}
                                                                        (input)="onPointCoordinateChange(g, p, 2, $event.target.value)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="divider dropdown-divider"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="divider dropdown-divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row controls">
                            <div class="col-6 load_controls">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            Load section
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="file" name="segment_to_load" id="segment_input">
                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-1">
                                                <button class="btn btn-success" disabled><span
                                                        class="fa fa-check"></span></button>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger" disabled><span
                                                        class="fa fa-trash"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 export_controls">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            Export section
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-5">
                                                <p> File_name.tag.gz</p>
                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-4">
                                                <button class="btn btn-primary" type="submit"
                                                    onclick="">Download</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>