<div class="form-group row" [formGroup]="parentForm">
  <div class="col-sm-1"></div>
  <label for="contour" class="col-sm-4 col-form-label">
    Contour shape representation:
  </label >
  <div class="col-sm-6">
    <select
      formControlName="contour_representation"
      class="custom-select mr-sm-2 border-info"
      id="contour"
      [ngModel]="contourRepresentations[0].id"
    >
      <option
        *ngFor="let contour of contourRepresentations"
        [ngValue]="contour.id"
        >{{ contour.name }}</option
      >
    </select>
  </div>
</div>
