<div class="container">
  <h4 class="text-primary">Parameters Panel</h4>
  <br />
  <div>
    <span
      >Volume filter:
      <input type="number" style="width: 5em;" [(ngModel)]="minVolume"/>
      - <input type="number" style="width: 5em;" [(ngModel)]="maxVolume"
    /></span>
  </div>
  <br />
  <div>
    <span
      >Hits number:
      <input type="number" style="width: 5em;" [(ngModel)]="hitsNumber"
    /></span>
  </div>
  <br />
  <div>
    <span>
      Update rate (hours):
      <input type="number" style="width: 5em;" [(ngModel)]="updateRate" />
    </span>
  </div>
  <br />
  <div class="col-2 offset-5">
    <button id="submitButton" (click)="saveChanges()">
      Save
    </button>
  </div>
</div>
