
/* --------------------------------------------- Mobile Styles -------------------------------------------- */

@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
    width: 100%;
  }

  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(0, 0, 0);
    margin: 2em 0;
    padding: 0;
  }
  
}

/* --------------------------------------------- Tablet Styles -------------------------------------------- */

@media only screen and (min-width: 401px) and (max-width: 1024px) {
  
  body {
    background-color: #F5CF8E; /* Yellow */
  }

  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(0, 0, 0);
    margin: 2em 0;
    padding: 0;
  }
  
}

/* --------------------------------------------- Desktop Styles ------------------------------------------- */

@media only screen and (min-width: 1025px) {
  
  body{
    background-color: white; /* White */
    width: 100%;
  }

  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(0, 0, 0);
    margin: 1em 0;
    padding: 0;
  }

}