<div class="form-group row" [formGroup]="parentForm">
  <label for="emdbIdList" class="col-4 col-form-label fix-emdb-title">ID list:</label>
  <div class="col-6">
    <textarea
      id="emdbIdList"
      placeholder="EMDB ID list separated by newlines"
      formControlName="emdb_id_list"
      type="text"
      class="form-control"
      rows="6"
      [ngClass]="{
        'is-invalid':
          parentForm.controls['emdb_id_list'].invalid &&
          parentForm.controls['emdb_id_list'].touched
      }"
    >
    </textarea>
    <div
      *ngIf="parentForm.controls['emdb_id_list'].invalid"
      class="invalid-feedback"
    >
      EMDB ID list required
    </div>
  </div>
</div>
