<div class="container">
  <div class=" form-group row col-sm-8">
    <label>Keyword: </label>
    <input [(ngModel)]="value" />
  </div>
  <br />
  <p><strong class="text-primary">Filter:</strong></p>
  <div class="form-group row">
    <div class="custom-control custom-radio col-sm-2 offset-sm-1">
      <input
        type="radio"
        class="custom-control-input"
        id="name"
        name="filterType"
        value="name"
        [(ngModel)]="checkedOption"
        checked
      />
      <label class="custom-control-label" for="name">Name</label>
    </div>
    <div class="custom-control custom-radio col-sm-2">
      <input
        type="radio"
        class="custom-control-input"
        id="email"
        name="filterType"
        value="email"
        [(ngModel)]="checkedOption"
      />
      <label class="custom-control-label" for="email">Email</label>
    </div>
  </div>
  <div class="row col-sm-2 ">
    <p>Role filter:</p>
    <select [(ngModel)]="selectedRoleFilter">
      <option value="-1">Any</option>
      <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
    </select>
  </div>
  <br />
  <button
    type="button"
    class="btn btn-secondary"
    [disabled]="currentPage == -1"
    (click)="previousPage()"
  >
    <<
  </button>
  <label class="col-sm-10"></label>
  <label></label>
  <button
    type="button"
    class="btn btn-secondary"
    [disabled]="currentPage + 100 > users.length"
    (click)="nextPage()"
  >
    >>
  </button>
  <div
    style="
    overflow-y: scroll;
    max-height:500px;"
  >
    <table class="table table-borderless" style="max-height: 200px">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of filterFunction(users); let a = index">
        <tr *ngIf="currentPage < a && a < currentPage + 101">
          <th>{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <select name="roleSelect" id="roleSelect" [(ngModel)]="user.role">
              <option *ngFor="let role of roles" [ngValue]="role">{{
                role
              }}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
