<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="text-primary">The EM-Surfer Development Team</h3>
    </div>
    <div class="card-body bg-bio">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" alt="Imagen de Perfil">
            <div class="card-body">
              <h5 class="card-title">Daisuke Kihara *</h5>
              <p class="card-text">PI, dkihara@purdue.edu</p>
              <!-- <a href="#" class="btn btn-primary">Go to Bio</a> -->
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" alt="Imagen de Perfil">
            <div class="card-body">
              <h5 class="card-title">Juan Esquivel Rodríguez</h5>
              <p class="card-text">jesquivel@itcr.ac.cr</p>
              <!-- <a href="#" class="btn btn-primary">Go to Bio</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card second-card">
    <div class="card-header">
      <h3 class="text-primary">Former members who contributed to the project:</h3>
    </div>
    <div class="card-body bg-bio">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Yi Xiong</h5>
              <p class="card-text">no mail</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Shuomeng Guang</h5>
              <p class="card-text">no mail</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Xusi Han</h5>
              <p class="card-text">no mail</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Siyang Chen</h5>
              <p class="card-text">no mail</p>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row link">
    <div class="col-4"></div>
    <div class="col-7">
      <a href="http://kiharalab.org/" target="_blank" class="btn btn-primary text-primary">
        Welcome to our lab page for more information!
      </a>
    </div>
  </div>
</div>


