<h3 class="text-primary">
  The EM-Surfer Development Team
</h3>
<br />

<ul>
  <li>Xusi Han (han273@purdue.edu)</li>
  <li>Siyang Chen (chen1564@purdue.edu)</li>
  <li>Daisuke Kihara * (PI, dkihara@purdue.edu)</li>
</ul>

<p><strong>Former members who contributed to the project:</strong></p>
<p>Yi Xiong</p>
<p>Juan Esquivel-Rodriguez</p>
<p>Shuomeng Guang</p>
<br />
<br />
<a class="text-warning" href="http://kiharalab.org/" target="_blank"
  ><u>Welcome to our lab page for more information!</u></a
>
