<!-- Image and text -->

<div class="container-fluid">
    <img src="assets/img/em-surfer-banner.png" alt="banner" class="img-responsive fit-image">
</div>
<div class="container">
  <nav class="navbar-dark bg-dark" >
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link button" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" href="#">Benchmark</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" href="#">Tutorial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link button" href="#">Reference</a>
        </li>
        <li class="nav-item">
            <a class="nav-link button" href="#">Contact</a>
        </li>  
      </ul>
  </nav>
</div>