<div class="container-fluid head-banner">
  <app-sign-in *ngIf="respon_fix" class="google"></app-sign-in>
  <img src="assets/img/em-surfer-banner.png" alt="banner" class="img-responsive fit-image" />
</div>
<div class="container dimension">
  <nav class="navbar-dark bg-dark">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a routerLinkActive="button_active" routerLink="2d" class="nav-link button">2D</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="button_active" routerLink="3d" class="nav-link button">3D</a>
      </li>
    </ul>
  </nav>
</div>
<div class="container menu topnav" id="myTopnav">
 
    <a *ngIf="respon_fix">Menu</a>

    <a class="nav-link button" routerLinkActive="button_active" routerLink="home">Home</a>
  
    <a class="nav-link button" routerLinkActive="button_active" routerLink="search">Search</a>
  
    <a class="nav-link button" routerLinkActive="button_active" routerLink="benchmark">Benchmark</a>
  
    <a class="nav-link button" routerLinkActive="button_active" routerLink="tutorial">Tutorial</a>
  
    <a class="nav-link button" routerLinkActive="button_active" routerLink="reference">Reference</a>
  
    <a class="nav-link button" routerLinkActive="button_active" routerLink="contact">Contact</a>
    
    <a href="javascript:void(0);" class="icon" (click)="menuToggle()">
      <i class="fa fa-bars"></i>
    </a>
      
</div>