<div class="container-fluid">
    <img src="assets/img/1000x230.png" alt="banner" class="img-responsive fit-image">
</div>
<div class="container">
  <nav class="navbar-dark bg-dark" >
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link button" routerLinkActive="button_active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" routerLinkActive="button_active" routerLink="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" routerLinkActive="button_active" routerLink="#">Benchmark</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" routerLinkActive="button_active" routerLink="#">Tutorial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" routerLinkActive="button_active" routerLink="#">Reference</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" routerLinkActive="button_active" routerLink="#">Contact</a>
        </li> 
      </ul>
  </nav>
</div>