.fit-image{
    width: 100%;
    object-fit: cover;
    height: 350px;
}
a:hover {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #8a8888;
  color: #EEEEEE;
  padding: 10px 30px 10px 30px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #333333;
  color: #EEEEEE;
  padding: 10px 30px 10px 30px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.button_active {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #8a8888;
  color: #EEEEEE;
  padding: 10px 30px 10px 30px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}