<div class="form-group row" [formGroup]="parentForm">
  <div class="col-sm-1"></div>
  <label for="emdb" class="col-sm-3 col-form-label"
    >Upload a file of the EMDB id list:</label
  >
  <div class="col-sm-5" style="padding-top: 3%;">
    <input
      id="file"
      placeholder="file"
      type="file"
      class="from-control-file border"
      accept=".dat"
      (change)="onFileChange($event)"
    />
    <div *ngIf="parentForm.controls['file'].invalid">
      <div *ngIf="parentForm.controls['file'].errors?.required">
        <p class="text-danger">File required</p>
      </div>
    </div>
  </div>
  <a class="col-sm-2 text-warning" href="assets/example-files/idlist.dat" style="padding-top: 3%;"><u>An example file.</u></a>
</div>
