<div class="form-group row" [formGroup]="parentForm">
  <div class="col-sm-1"></div>
  <label for="emdbid" class="col-3 col-form-label"
    >4-digit EMDB entry ID:</label
  >
  <div class="col-6 offset-1">
    <input
      id="emdb_id"
      placeholder="EMDB entry ID"
      formControlName="emdb_id"
      type="text"
      class="form-control border-info"
      maxlength="4"
      [ngClass]="{
        'is-invalid':
          parentForm.controls['emdb_id'].invalid &&
          parentForm.controls['emdb_id'].touched
      }"
    />
    <div
      *ngIf="parentForm.controls['emdb_id'].invalid"
      class="invalid-feedback"
    >
      <div id="required_alert" *ngIf="parentForm.controls['emdb_id'].errors?.required">
        ID required
      </div>
      <div id="4_digits_alert" *ngIf="parentForm.controls['emdb_id'].errors?.minlength">
        Enter a 4-digit ID
      </div>
      <div id="digits_alert" *ngIf="parentForm.controls['emdb_id'].errors?.pattern">
        Only digits (0-9) allowed
      </div>
    </div>
  </div>
</div>
