
/* --------------------------------------------- Mobile Styles -------------------------------------------- */
@media only screen and (max-width: 414px) {

    .row{
        margin-left: -15%;
        width: 130%;
    }
    
    hr{
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.3);
        border-width: 1px;
        margin: 5% 0%;
    }
    
    .card-body ul{
        padding-left: 4%;
    }
    
    .card-body p, .card-body li{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    
    h5{
        margin-bottom: 5%;
    }
    
    .steps{
        background-color: rgba(221, 221, 221, 0.24);
    }
    
    .form-group.row{
        padding: 0%;
    }
    
    .lead{
        font-size: 1.1rem;
        margin-top: 3%;
    }

}

/* --------------------------------------------- Tablet Styles -------------------------------------------- */
@media only screen and (min-width: 415px) and (max-width: 1024px) {

    .row{
        padding: 5% 10%;
    }
    
    hr{
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.3);
        border-width: 1px;
        margin: 5% 0%;
    }
    
    .card-body ul{
        padding-left: 4%;
    }
    
    .card-body p, .card-body li{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    
    h5{
        margin-bottom: 5%;
    }
    
    .steps{
        background-color: rgba(221, 221, 221, 0.24);
    }
    
    .form-group.row{
        padding: 0%;
    }
    
    .lead{
        font-size: 1.1rem;
        margin-top: 3%;
    }

}

/* --------------------------------------------- Desktop Styles ------------------------------------------- */
@media only screen and (min-width: 1025px) {

    .row{
        padding: 5% 10%;
    }
    
    hr{
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.3);
        border-width: 1px;
        margin: 5% 0%;
    }
    
    .card-body ul{
        padding-left: 4%;
    }
    
    .card-body p, .card-body li{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    
    h5{
        margin-bottom: 5%;
    }
    
    .steps{
        background-color: rgba(221, 221, 221, 0.24);
    }
    
    .form-group.row{
        padding: 0%;
    }
    
    .lead{
        font-size: 1.1rem;
        margin-top: 3%;
    }

}