<form [formGroup]="searchForm" (ngSubmit)="submitHandler()">
  <p class="text-primary">Submit an EM map</p>
  <p>Please refer to the tips below when uploading a file:</p>
  <ul>
    <li>
      It is possible that the EMDB ID already exists in the database. Try to use
      the search box first.
    </li>
    <li>
      If you benchmark our program, please <a href="#">access the page.</a>
    </li>
  </ul>
  <p>
    <strong class="text-primary">
      (For the purpose of review, please directly click the Submit button to get
      the search result, with the default options provided.)
    </strong>
  </p>

  <p><strong class="text-primary">Step 1 (Representation)</strong></p>
  <app-contour-shape-input [parentForm]="searchForm"></app-contour-shape-input>

  <p><strong class="text-primary">Step 2 (Query entry)</strong></p>
  <app-query-method [parentForm]="searchForm.controls.query"></app-query-method>
  
  <p><strong class="text-primary">Step 3 (Filter)</strong></p>
  <app-volume-filter-input [parentForm]="searchForm"></app-volume-filter-input>

  <app-resolution-filter [parentForm]="searchForm.controls.resolution_filter"></app-resolution-filter>

  <div class="form-group row">
    <div class="col-2 offset-5">
      <button id="submitButton" type="submit" [disabled]="!searchForm.valid">
        Submit
      </button>
    </div>
    <div class="col-2">
      <button id="resetButton" type="button" (click)="reset()">Reset</button>
    </div>
  </div>
</form>
