<a class="text-warning" [href]="biomoleculeComparison.biomolecule.pdb_url"
  ><strong
    ><u>EMD-{{ biomoleculeComparison.biomolecule.id }}</u></strong
  ></a
>
<p>{{ biomoleculeComparison.biomolecule.full_name }}</p>
<a id="img" class="clickable" (click)="this.searchBiomolecule()">
  <img class="img-fluid" [src]="biomoleculeComparison.biomolecule.image_url" />
</a>
<p class="text-primary">
  <strong>Euc. Distance: {{ biomoleculeComparison.euc_distance }} </strong>
</p>
<p class="text-primary">
  <strong>Ratio of Volume: {{ biomoleculeComparison.ratio_of_volume }}</strong>
</p>
<p class="text-primary">
  <strong>Resolution: {{ biomoleculeComparison.resolution }}</strong>
</p>
