.list-group {
  max-height: 200px;
  margin-bottom: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-color: black;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
}

.zernike-exits {
  max-width: 100px;
  font: bold 16px Arial;
  background-color: #333333;
  color: #eeeeee;
  padding: 4px 12px 4px 20px;
}

.zernike-fail {
  max-width: 100px;
  font: bold 16px Arial;
  background-color: #b22222;
  color: #eeeeee;
  padding: 4px 12px 4px 20px;
}


/* --------------------------------------------- Mobile Styles -------------------------------------------- */
@media only screen and (max-width: 414px) {

  .container{
    margin-left: 5%;
  }

  .zernike-exits, .zernike-fail{
    margin-bottom: 5%;
  }

  ul.list-group{
    width: 90%;
  }

}

/* --------------------------------------------- Mobile Styles -------------------------------------------- */
@media only screen and (min-width: 415px) and (max-width: 1024px) {

  .container{
    margin-left: 5%;
  }

  .zernike-exits, .zernike-fail{
    margin-bottom: 5%;
  }

  ul.list-group{
    width: 75%;
  }

}